{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to the Pics Gallery</h1>
            </div>
        </div>
    </div>


    <div id="gal1">
    </div>


    <script type="text/javascript">
        var fotosBatch = 0;
        var fotosNo = {{ fotosNo }};

        $(document).ready(function(){
            var gallery = $('#gal1').galereya({
                load: function(next) {
                    $.getJSON("{{ path('retrieveFotos') }}?aux=" +fotosBatch,
                        function(data) {
                            next(data);
                            fotosBatch += data.length;
                    });
                }
            });


            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height() && fotosBatch<fotosNo) {
                        $.getJSON("{{ path('retrieveFotos') }}?aux=" + fotosBatch,
                                function (data) {
                                    gallery.loadMore(data);
                                    fotosBatch += data.length;
                                });
                }
            });
        });

    </script>
{% endblock %}

