<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PicGallery{% block title %}{% endblock %}</title>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Show Photos Plugin -->
    <script type='text/javascript' src="{{ asset('galereyaLatest/js/jquery.galereya.min.js') }}"></script>
    <link rel='stylesheet' href="{{ asset('galereyaLatest/css/jquery.galereya.css') }}" type='text/css'/>
</head>

<body>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
{% endfor %}

<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('showPics') }}">Home</a></li>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                            <li><a href="{{ path('upload') }}">Upload</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                            <li><a href="{{ path("logout") }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        {% else %}
                            <li><a href="{{ path("login") }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {%  endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

{% block body %}{% endblock %}

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="{% block page %}{{ path('showPics') }}{% endblock %}">Back to top</a></p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>

</body>
</html>